# Node
node_modules/

# dotenv
.env
.env.local

# lowdb file
db/db.json

# logs
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Build outputs
dist/
build/

# OS files
Thumbs.db
